.root {
  margin: auto;
}

.tiny {
  border: 5px solid #C02942;
}

.small {
  border: 5px solid #ECD078;
}

.medium {
 border: 5px solid #D95B43;
}

.big {
  border: 5px solid #53777A;
}

.bigger {
  border: 5px solid #0F1A26;
 }

 .huge {
   border: 5px solid #542437;
 }

 body {
   margin: 30px 30px;
 }
